@model List<User>
@{
    ViewData["Title"] = "Usuários";
}

<div class="text-center">

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert"
                aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Usuários</h1>

    <table id="table-users" class="display" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil</th>
                <th scope="col">Total de Contatos</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.id</th>
                        <td>@usuario.name</td>
                        <td>@usuario.login</td>
                        <td>@usuario.email</td>
                        <td>@(usuario.profile == FCX_Labs.Enums.ProfileEnum.Admin ? "Administrador" : "Padrão")</td>
                        <td>
                            <a href="javascript:" usuario-id="@usuario.id" class="btn btn-success btn-sm btn-total-contatos">
                                @(usuario.Person != null && usuario.Person.Any() ? usuario.Person.Count() : 0)
                            </a>
                        </td>
                        <td>@usuario.alteration_date</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" asp-action="Editar" asp-controller="User" asp-route-id="@usuario.id"
                                    class="btn btn-primary">Editar</a>
                                <a role="button" asp-action="ApagarConfirmacao" asp-controller="User"
                                    asp-route-id="@usuario.id" class="btn btn-danger">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd">
                    <td valign="top" colspan="5">Nenhum usuário encontrado</td>
                </tr>
            }
        </tbody>
    </table>


    <div id="modalContatosUsuario" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listagem de contatos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="listaContatosUsuario"></div>
                </div>
            </div>
        </div>
    </div>

</div>